<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.igconsultores.raymundo.pt2"
    android:versionName="@string/version">

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true" >
        <activity
            android:name="SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Preferences" />
        <activity
            android:name=".ConfActivity"
            android:label="@string/ConfActivityActivityLabel" />
        <activity android:name=".BienvActivity" />
        <activity android:name=".PswSetActivity" />
        <activity android:name=".PswGetActivity" />
        <activity android:name=".AcerActivity" />
        <activity android:name=".ConfRoActivity" />
        <activity android:name=".ConfReadOnlyActivity" />
    </application>

</manifest>